#titulo {
    color:white
}

#titulo-formulario{
    color:white;
}

td, th, table
{

border: 1.5px solid rgba(59, 60, 59, 0.915);
padding-left: 15px;
padding-right: 15px;
text-align: center;
}
table{
    padding: 0px;
    width: 100%;
}

#section-table-users {
    padding: 20px;

}
#cont-btn-crearusuario {
    padding-left: 45%;
}

#cont-btn-crear {
    padding: 20px;
}

#cont-btn-crear {
    padding-left: 45%;
}

#section-form form {
    max-width: 400px;
    min-width: 200px;
}

#section-form {
    display: flex;
    justify-content: center;
}   

#cont-btn-crear {
    padding-left: 25%;
}

